* {
  transition: 
    background-color 1s ease,
    color 1s ease,
    border-color 1s ease;
}

body {
    font-family: Arial, sans-serif;
    background: var(--bg);
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: var(--card);
    color: var(--text);
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 320px;
}

button {
    color: var(--text);
    background: var(--bg);
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

#callHeatmap,#putHeatmap{
    width: 80%; 
    height: 450px; 
    margin-top: 3px;
    background: var(--card);
    color: var(--text);
}

.theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  background: var(--card);
  cursor: pointer;
  font-size: 18px;
}

.theme-toggle:hover {
  transform: scale(1.1) rotate(10deg);
}

:root {
  --bg: #ffffff;
  --text: #111111;
  --card: #f3f3f3;
  --accent: #2563eb;
}

body.dark {
  --bg: #0b0b0b;
  --text: #eaeaea;
  --card: #151515;
  --accent: #60a5fa;
}
